# docker/docker-compose.dev.yml
services:
  postgres:
    build:
      context: ../postgres
      dockerfile: Dockerfile.dev
    ports:
      - "${DB_PORT:-5432}:5432"  # Exposition pour DBeaver/debug

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U kaamelott_dev_user -d kaamelott_db_dev" ]

  nestjs:
    build:
      target: development

    ports:
      - "${API_PORT:-3000}:3000"
      - "9229:9229"  # Debug Node.js

    environment:
      NODE_ENV: development
      LOG_LEVEL: debug

    volumes:
      - ../../src:/app/src:ro  # Hot reload
      - ../../package.json:/app/package.json:ro